@use "/src/assets/styles/variables" as *;
@use "/src/assets/styles/fonts" as *;

.card {
  &__container {
    transition: all 0.2s;
    &:hover {
      transform: scale(1.01);
    }
  }

  &__link {
    cursor: pointer;
  }

  &__preview {
    aspect-ratio: 4 / 5;
  }
  &__img {
    width: 100%;
    height: 100%;
  }
  &__describe {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    white-space: nowrap;
  }
  &__name {
    overflow: hidden;
    text-overflow: ellipsis;
    color: $main-text-color;
    font-size: 24px;
  }
  &__price {
    margin-top: 5px;
    font-size: 50px;
    color: $main-dark-color;
    font-family: $numbers-font;
  }
}
