@use "/src/assets/styles/_variables.scss" as *;

.header {
  color: $main-dark-color;
  position: relative;
  z-index: 100;

  &_container {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    font-size: 18px;
    position: relative;
    z-index: 10;
  }

  &_nav {
    &__link {
      margin-right: 15px;
      text-decoration: none;
      position: relative;
      text-decoration: none;
      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -5px;
        width: 100%;
        transform: scaleX(0);
        height: 0.0938rem;
        background-color: $main-dark-color;
        transition: all 0.3s ease-in;
      }

      &:hover::after {
        transform: scaleX(1);
      }
    }
  }

  &_logo {
    margin: 0 auto;
    color: $dark-green;
    font-family: "Mouzambik", sans-serif;
    font-size: 90px;
    font-weight: 300;
  }

  &_interactive {
    margin-left: auto;
    display: flex;
    gap: 1.25rem;
    cursor: pointer;
    svg {
      transition: all 0.3s;
      &:hover {
        transform: scale(1.1);
      }
    }
  }

  &_profile {
    width: 20px;
    height: 22px;
    color: $main-dark-color;
  }

  &_cart {
    color: $main-dark-color;
  }

  &_auth {
    top: 85px;
    right: 5vw;
    padding: 0 !important;
    &::after {
      content: "";
      width: 20px;
      height: 20px;
      background: $main-light-color;
      transform: rotate(45deg);
      border: 1px solid $main-dark-color;
      border-bottom: none;
      border-right: none;
      position: absolute;
      top: -10px;
      right: calc(139px - 5vw);
    }
  }
}
