@use "/src/assets/styles/_variables.scss" as *;
@use "/src/assets/styles/fonts" as *;

.header {
  color: $main-dark-color;
  position: relative;
  z-index: 100;

  &__container {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    font-size: 18px;
    position: relative;
    z-index: 10;
  }

  &__nav {
    &_link {
      margin-right: 15px;
      text-decoration: none;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -5px;
        width: 100%;
        transform: scaleX(0);
        height: 0.0938rem;
        background-color: $main-dark-color;
        transition: all 0.3s ease-in;
      }

      &:hover::after {
        transform: scaleX(1);
      }
      &-active {
        &::after {
          transform: scaleX(1);
        }
      }
    }
  }

  &__logo {
    margin: 0 auto;
    color: $dark-green;
    font-family: "Mouzambik", sans-serif;
    font-size: 90px;
    font-weight: 300;
  }

  &__interactive {
    margin-left: auto;
    display: flex;
    gap: 1.25rem;
    cursor: pointer;
    svg {
      transition: all 0.3s;
      &:hover {
        transform: scale(1.1);
      }
    }
  }

  &__profile {
    width: 20px;
    height: 22px;
    color: $main-dark-color;
  }

  &__cart {
    color: $main-dark-color;
    position: relative;
    svg {
      fill: $main-dark-color;
    }
    span {
      font-size: 14px;
      position: absolute;
    }
  }
}
