@use "/src/assets/styles/_variables.scss" as *;
@use "/src/assets/styles/fonts" as *;

.header {
  color: $main-dark-color;
  position: relative;
  z-index: 100;

  &__container {
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    font-size: 18px;
    position: relative;
    z-index: 10;
    flex-wrap: wrap;
    @media (min-width: $tablet) {
    height: 100px;
    }
  }

  &__nav {
    
    display: none;
    @media (min-width: $laptop) {
      display: flex;
      gap: 15px;
    }
    &_link {
      text-decoration: none;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -5px;
        width: 100%;
        transform: scaleX(0);
        height: 0.0938rem;
        background-color: $main-dark-color;
        transition: all 0.3s ease-in;
      }

      &:hover::after {
        transform: scaleX(1);
      }
      &-active {
        &::after {
          transform: scaleX(1);
        }
      }
    }
  }

  &__logo {
    color: $dark-green;
    font-family: "Mouzambik", sans-serif;
    font-weight: 300;
    font-size: 50px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    @media (min-width: $mobile-s) {
      font-size: 60px;
    }
    @media (min-width: $mobile) {
      font-size: 70px;
    }
    @media (min-width: $tablet) {
      font-size: 80px;
    }
    @media (min-width: $laptop) {
      font-size: 90px;
    }
  }

  &__interactive {
    display: flex;
    cursor: pointer;
    gap: 0.25rem;
    
    @media (min-width: $mobile) {
      gap: 1.25rem;
    }

    svg {
      transition: all 0.3s;
      &:hover {
        transform: scale(1.1);
      }
    }
  }

  &__profile {
    width: 20px;
    height: 22px;
    color: $main-dark-color;
  }

  &__cart {
    color: $main-dark-color;
    position: relative;
    svg {
      fill: $main-dark-color;
    }
    span {
      font-size: 14px;
      position: absolute;
    }
  }
}
