.input__common {
  padding: 10px 10px;
  padding-top: 12px;
  border: 1px solid $main-dark-color;
  width: 100%;
  background-color: $main-light-color;
  &::placeholder {
    color: $main-text-color;
  }
  &_wrapper {
    position: relative;
  }

  &_icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5px;
    svg {
      width: 19px;
      height: 19px;
    }
  }
}