@use "/src//assets/styles/variables" as *;

.main-btn {
  height: 50px;
  padding: 10px;
  border: 1px solid $main-dark-color;
  color: $main-dark-color;
  font-weight: 600;
  transition: all 0.3s;
  cursor: pointer;
  background: $main-light-color;
  &:hover {
    background-color: $main-dark-color;
    color: $main-light-color;
  }

  &_active {
    background-color: $main-dark-color;
    color: $main-light-color;
  }

  &_content {
    padding: 5px;
  }
  &_medium {
    min-height: 50px;
    min-width: 95px;
    width: 95px;
  }
  &_full {
    width: 100%;
  }
}