@use "/src//assets/styles/variables" as *;

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  padding: 10px;
  border: 1px solid $main-dark-color;
  color: $main-dark-color;
  font-weight: 600;
  transition: all 0.3s;
  cursor: pointer;
  background: $main-light-color;
  &:hover {
    background-color: $main-dark-color;
    color: $main-light-color;
  }
  &:disabled {
    opacity: 0.3;
    pointer-events:none;
  }

  &-active {
    background-color: $main-dark-color;
    color: $main-light-color;
  }

  &-small {
    height: 35px;
    width: 35px;
    padding: 0;
  }
  &-medium {
    min-height: 50px;
    min-width: 95px;
    width: 95px;
  }
  &-full {
    width: 100%;
  }
}
