@use "/src/assets/styles/variables" as *;
@use "/src/assets/styles/fonts" as *;

.cart {
  &__form {
    display: flex;
    color: $dark-text-color;
    font-weight: 700;
    gap: 10px;
    flex-wrap: wrap;
    &:last-child {
      margin-right: auto;
    }
    @media (min-width: $tablet) {
      justify-content: space-between;
    }
    @media (min-width: $laptop) {
      flex-direction: column;
    }
    & input {
      margin-top: 5px;
    }
    label {
      width: 100%;
      @media (min-width: $tablet) {
        width: 48%;
      }
      @media (min-width: $laptop) {
        width: 100%;
      }
    }
  }
  &__autofill {
      margin-bottom: 10px;
      display: flex;
      flex-direction: column;
      gap: 5px;
      position: relative;
    &_title {
      color: $dark-text-color;
      font-weight: 700;
    }
  }
}
