.burger__container {
  display: none;
  @media (max-width: 1200px) {
    display: flex;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
    cursor: pointer;
  }

  span {
    width: 40px;
    height: 3px;
    background-color: #000;
    border-radius: 1px;
  }
}