.products__wishlist {
  display: flex;
  gap: 10px;
  outline: 1px solid $line-color;
  background: $main-light-color;
  padding: 10px;
  color: $main-dark-color;
  position: relative;
  @media (min-width: $mobile-s) {
    padding: 15px;
  }
  @media (min-width: $mobile) {
    flex-direction: column;
  }
  @media (min-width: $tablet) {
    flex-direction: row;
  }

  &:hover {
    @media (min-width: $desktop) {
      .products__wishlist_remove {
        opacity: 1;
        transform: scale(1);
        @include cross($size: 25px, $position: absolute);
      }
    }
  }
  &_info {
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    @media (min-width: $mobile-s) {
      justify-content: center;
      flex-grow: 1;
    }
  }
  &_img {
    max-height: 200px;
    object-fit: cover;
    aspect-ratio: 3/4;
    @media (min-width: $mobile) {
      width: 100%;
      max-height: none;
    }
    @media (min-width: $tablet) {
      width: auto;
      max-height: 240px;
    }
    @media (min-width: $laptop) {
      max-height: 250px;
    }
  }
  &_title {
    font-size: 35px;
    @media (min-width: $mobile-s) {
      font-size: 40px;
    }
    @media (min-width: $laptop) {
      font-size: 50px;
    }
    @media (min-width: $desktop) {
      font-size: 40px;
    }
  }
  &_price {
    font-family: $numbers-font;
    font-size: 30px;
    @media (min-width: $mobile) {
      margin-top: auto;
      font-size: 35px;
    }
    @media (min-width: $tablet) {
      font-size: 45px;
      margin-top: 0;
    }
    @media (min-width: $laptop) {
      font-size: 50px;
    }
    @media (min-width: $desktop) {
      font-size: 45px;
    }
  }

  &_btn {
    margin-top: auto;
    @media (min-width: $mobile) {
      margin-top: 0;
    }
    @media (min-width: $tablet) {
      margin-top: auto;
      max-width: 200px;
    }
  }
  &_remove {
    @include cross($size: 15px, $position: absolute);
    top: 10px;
    right: 10px;
    transition: all 0.2s;
    @media (min-width: $mobile) {
      @include cross($size: 25px, $position: absolute);
      top: 5px;
      right: 5px;
    }
    @media (min-width: $desktop) {
      opacity: 0;
      transform: scale(0);
      transition: all 0.3s;
    }
  }
}
