.cart__empty {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  font-size: 18px;

  &_img {
    height: 300px;
  }

  &_definition {
    font-size: 70px;
  }

  &_describe {
    max-width: 550px;
  }

  &_btn {
    width: 400px;
  }
}