@use '/src/assets/styles/variables' as *;

.empty {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;

  &__img {
    height: 200px;
    @media (min-width: $mobile) {
      height: 300px;
    }
  }

  &__title {
    font-size: 50px;
    @media (min-width: $mobile) {
      font-size: 70px;
    }
  }

  &__describe {
    max-width: 550px;
  }

  &__btn {
    width: 250px;
    @media (min-width: $mobile) {
      width: 400px;
    }
  }
}