.collection {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  align-items: end;
  @media (min-width: $tablet) {
    flex-direction: row;
  }
  @media (min-width: $desktop) {
    max-width: 1300px;
    margin: 0 auto;
  }
  &__text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px 0;
    @media (min-width: $tablet) {
      position: absolute;
      width: 50%;
      padding: 10px 0;
      gap: 20px;
    }
    @media (min-width: 1100px) {
      padding: 40px 0;
      gap: 20px;
    }

    &-left {
      align-items: end;
      text-align: end;
      @media (min-width: $tablet) {
        top: 0;
        left: 50%;
      }
    }
    &-right {
      align-self: start;
      @media (min-width: $tablet) {
        right: 50%;
      }
    }
  }

  &__title {
    @media (min-width: $mobile) {
      width: 450px;
    }
    @media (min-width: $tablet) {
      width: 500px;
    }
    @media (min-width: $desktop) {
      width: 520px;
    }
  }

  &__description {
    padding-left: 20px;
    @media (min-width: $mobile) {
      max-width: 450px;
      font-size: 14px;
    }
    @media (min-width: $tablet) {
      font-size: 16px;
    }
    @media (min-width: 800px) {
      font-size: 18px;
    }
  }

&__mainImg {
  &_picture {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 3/4.5;
    align-self: center;

    @media (min-width: $tablet) {
      position: relative;
      width: 50%;
    }
    @media (min-width: $laptop) {
      aspect-ratio: 3/4;
    }
    &-right {
      @media (min-width: $tablet) {
        left: 50%;
      }
    }
  }
}

  &__more {
    display: flex;
    padding-left: 10px;
    @media (min-width: 913px) {
      padding-left: 20px;
    }
    &-left {
      gap: 10px;
      @media (min-width: 913px) {
        gap: 20px;
      }
    }

    &-right {
      flex-direction: column;
      gap: 40px;
    }

    &_btn {
      margin-top: 10px;
      font-size: 14px;
      @media (min-width: $tablet) {
        font-size: inherit;
      }
    }

    &_smallImg {
      display: none;
      @media (min-width: $mobile-s) {
        height: 190px;
        width: 140px;
        display: block;
      }
      @media (min-width: 650px) {
        position: absolute;
        top: 20px;
      }
      @media (min-width: $tablet) {
        height: 207px;
        width: 157px;
        position: static;
      }
      @media (min-width: $laptop) {
        height: 230px;
        width: 180px;
      }
      &-left {
          left: 20px;
      }
      &-right {
        right: 20px;
      }
    }
  }
}