@use '/src/assets/styles/variables' as *;

.cart {
  padding: 20px 0;
  @media (min-width: $laptop) {
    padding: 50px 0;
  }
  &__title {
    margin-bottom: 20px;
  }
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media (min-width: $laptop) {
      flex-direction: row;
    }
  }

  &__delivery {
    padding-top: 10px;
    @media (min-width: $mobile) {
      padding: 10px 20px;
    }
    @media (min-width: $tablet) {
      padding: 20px 40px;
    }

    @media (min-width: $laptop) {
      padding: 0;
    }
  }

  &__clear {
    margin-top: 10px;
  }
}