@use '/src/assets/styles/variables' as *;

.profile {
  margin: 50px 0;
  &__container {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 40px;
    column-gap: 100px;
  }

  h2 {
    font-size: 100px;
    grid-column-start: 2;
  }
}