@use "/src/assets/styles/variables" as *;

.home {
  &__main {
    overflow: hidden;
    position: relative;
    z-index: 20;
    margin-top: -100px;
    height: 100vh;
    background: $light-green;
    background: radial-gradient(
      circle,
      $light-green 7%,
      rgba(49, 107, 72, 1) 38%
    );
    @media (max-width: $tablet) {
      margin-top: -90px;
    }
    &_logo {
      text-align: center;
      font-family: "Mouzambik", sans-serif;
      color: $main-light-color;
      font-size: 550px;
      position: absolute;
      z-index: 30;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      @media (max-width: $desktop) {
        font-size: 500px;
      }
      @media (max-width: $laptop) {
        font-size: 400px;
      }
      @media (max-width: 850px) {
        font-size: 360px;
      }
      @media (max-width: $tablet) {
        font-size: 300px;
      }
      @media (max-width: 630px) {
        font-size: 230px;
      }
      @media (max-width: $mobile) {
        font-size: 180px;
      }
      @media (max-width: $mobile-s) {
        font-size: 145px;
      }
    }
  }
}
