.product {
  &__list {
    margin: 3.125rem 0;
    display: grid;
    grid-gap: 1.25rem;
    grid-template-columns: repeat(4, minmax(15.625rem, 1fr));

    &_title {
      margin-left: 1.25rem;
    }
  }
}
