.product {
  &__list {
    margin: 20px 0;
    display: grid;
    grid-gap: 1.25rem;
    grid-template-columns: repeat(4, minmax(14.625rem, 1fr));

    @media (max-width: 1200px) {
      grid-template-columns: repeat(3, minmax(14.625rem, 1fr));
    }
    @media (max-width: 1024px) {
      margin: 20px 0;
      grid-gap: 1rem;
      grid-template-columns: repeat(3, minmax(12.625rem, 1fr));
    }
    @media (max-width: 763px) {
      grid-template-columns: repeat(2, minmax(10.625rem, 1fr));
    }
    @media (max-width: 480px) {
      grid-template-columns: repeat(1, minmax(5.625rem, 1fr));
    }

    &_title {
      margin-left: 1.25rem;
    }
  }
}
