@use "/src/assets/styles/variables.scss" as *;

.auth {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid $main-dark-color;
  background: $main-light-color;
  color: $main-dark-color;
  @media (min-width: $mobile) {
    gap: 20px;
  }
  &-signIn {
    top: 80px;
    width: 80vw;
    right: 50%;
    transform: translateX(50%);
    min-width: auto;
    animation: emergeMobile 0.3s;
    @media (min-width: $mobile) {
      transform: translateX(0);
      right: 5vw;
      width: 360px;
      animation: emerge 0.3s;
    }
    &::after {
      right: 5vw;
      content: "";
      width: 20px;
      height: 20px;
      background: $main-light-color;
      transform: rotate(45deg);
      border: 1px solid $main-dark-color;
      border-bottom: none;
      border-right: none;
      position: absolute;
      top: -10.8px;
      right: calc($wrapper-padding-sm + 36px - 5vw);
      @media (min-width: $mobile) {
        right: calc($wrapper-padding-sm + 86px - 5vw);
      }
      @media (min-width: $laptop) {
        right: calc($wrapper-padding-md + 86px - 5vw);
      }
      @media (min-width: $desktop) {
        right: calc($wrapper-padding-lg + 86px - 5vw);
      }
    }
  }

  &-signUp {
    width: 80vw;
    min-width: auto;
    animation: emergeCenter 0.3s;
    @media (min-width: $mobile) {
      width: 400px;
    }
  }

  &__other {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    color: $main-text-color;
    font-weight: 300;
  }

  &-close {
    animation: close 0.3s;

    &-center {
      animation: closeCenter 0.3s;
    }
  }
}

@keyframes emerge {
  0% {
    transform: scale(0.4);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes emergeMobile {
  0% {
    transform: translateX(50%) scale(0.4);
    opacity: 0;
  }

  100% {
    transform: translateX(50%) scale(1);
    opacity: 1;
  }
}

@keyframes emergeCenter {
  0% {
    transform: translate(-50%, -50%) scale(0.4);
    opacity: 0;
  }

  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}

@keyframes close {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(0.7);
    opacity: 0;
  }
}
@keyframes closeCenter {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }

  100% {
    transform: translate(-50%, -50%) scale(0.7);
    opacity: 0;
  }
}
