@use '/src/assets/styles/variables' as *;

.slider {
  &__slide {
    text-align: center;
    @media (min-width: 500px) {
    }
    @media (min-width: $tablet) {
      height: auto;
    }
    img {
      aspect-ratio: 3/4;
      object-fit: cover;
      object-position: center;
      height: auto;
      width: 100%;
    }
  }

  &__preview {
    img {
      aspect-ratio: 3/4;
      height: auto; 
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
    }

    &__thumbs {
      display: none;
      @media (min-width: $tablet) {
        display: block;
      }
    }
}
