@use "/src/assets/styles/fonts" as *;

.sizes {
  margin-top: 10px;
  display: flex;
  gap: 10px;

  &__btn {
    position: relative;
  }

  &__size {
    font-size: 40px;
    font-family: $numbers-font;
    font-weight: 400;
    position: absolute;
    top: 54%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}