@use "/src/assets/styles/fonts" as *;

.sizes {
  margin-top: 10px;
  display: flex;
  gap: 10px;

  &__btn {
    position: relative;

    &_minimalistic {
      padding: 10px 20px;
      height: 40px;
    };
  }

  &__size {
    font-size: 40px;
    font-family: $numbers-font;
    font-weight: 400;
    position: absolute;
    top: 54%;
    left: 50%;
    transform: translate(-50%, -50%);
      &_minimalistic {
        font-size: 30px;
      }
  }
}