@use "/src/assets/styles/variables.scss" as *;

.signin {
  &__container {   
    width: 360px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px 30px;

    border: 1px solid $main-dark-color;
    background: $main-light-color;
    color: $main-dark-color;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__field {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &__entry {
    margin-top: 20px;
  }

  &__other {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    font-weight: 300;
    color: $main-text-color;
    &_icons {
      display: flex;
      gap: 20px; 
      justify-content: center;
      svg {
        transition: all 0.3s;
        &:hover {
          cursor: pointer;
          transform: scale(1.1);
        }
      }
    }
  }

  &__signup {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    color: $main-text-color;
    font-weight: 300;
  }
}