@use "/src/assets/styles/variables.scss" as *;

.signin {
  &_container {   
    width: 360px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px 30px;

    border: 1px solid $main-dark-color;
    background: $main-light-color;
    color: $main-dark-color;
  }

  &_form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &_field {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &_entry {
    margin-top: 20px;
  }

  &_other {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    font-weight: 300;
    color: $main-text-color;
    &__icons {
      display: flex;
      gap: 20px; 
      justify-content: center;
      svg {
        transition: all 0.3s;
        &:hover {
          cursor: pointer;
          transform: scale(1.1);
        }
      }
    }
  }

  &_signup {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    color: $main-text-color;
    font-weight: 300;
  }
}