@use "/src/assets/styles/variables.scss" as *;
@use "/src/assets/styles/fonts.scss" as *;

.product {
  &__container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    color: $main-text-color;
    padding: 10px 0;
    padding-bottom: 30px;
    gap: 20px;
    @media (min-width: $tablet) {
      gap: 50px;
      padding: 50px 0;
      max-width: 1400px;
      flex-direction: row;
    }
  }
  &__gallery {
    @media (min-width: $tablet) {
      width: 50%;
    }
  }
}

