.auth {
  &__form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 10px;
    &_field {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }
    &_submit {
      margin-top: 20px;
    }
  }
}
