@use '/src/assets/styles/variables' as *;
@use '/src/assets/styles/fonts' as *;

.cart {
  &__info {
    display: flex;
    flex-direction: column;
    @media (min-width: $laptop) {
      position: relative;
      z-index: 2;
      border: 1px solid $main-dark-color;
      background-color: $main-light-color;
      min-width: 365px;
      padding: 20px;
    }
    @media (min-width: $desktop) {
      padding: 30px;
      min-width: 430px;
    }
    &_title {
      text-align: center;
      font-size: 50px;
      @media (min-width: $mobile) {
        font-size: 70px;
      }
      @media (min-width: $tablet) {
        font-size: 90px;
      }
      @media (min-width: $laptop) {
        margin-bottom: 10px;
        font-size: 55px;
      }
      @media (min-width: $desktop) {
        font-size: 70px;
      }
    }
    &_line {
      margin: 20px 0;
      height: 1px;
      background: $main-dark-color;
    }
  }
  &__results {
    color: $main-text-color;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
    &_component {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &_price {
      font-family: $numbers-font;
      color: $main-dark-color;
      font-size: 30px;
      font-weight: lighter;
      
    }
    &_price-total {
      font-weight: 500;
      font-size: 40px;
      color: $main-dark-color;
    }
  }
}