@font-face {
  font-family: "Mouzambik";
  src: url("/src/assets/fonts/Mouzambik.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MouzambikNumbers";
  src: url("/src/assets/fonts/MouzambikNumbers.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}


$high-font: "Mouzambik", sans-serif;
$numbers-font: "MouzambikNumbers", sans-serif;
