$light-green: #45885a;
$dark-green: #376e48;

$main-light-color: #fbfbf0;
$main-dark-color: #1a1816;
$main-text-color: #72716b;

$dark-text-color: #49483d;

$line-color: #deded7;

$lines-gap: 236px;
$lines-gap-sm: 136px;
$wrapper-padding-lg: 100px;
$wrapper-padding-md: 50px;
$wrapper-padding-sm: 20px;

$component-margin-lg: 50px;
$component-margin-md: 20px;
$component-margin-sm: 10px;


$mobile: 480px;
$tablet: 768px;
$laptop: 1024px;
$desktop: 1280px;