@use "./reset.scss" as *;
@use "./variables.scss" as *;
@use "./fonts.scss" as *;

* {
  scrollbar-width: none; /* Для Firefox */
  -ms-overflow-style: none; /* Для Internet Explorer */
  &::-webkit-scrollbar {
    display: none; /* Для Chrome, Safari та Edge */
  }
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: $main-text-color;
  background-color: $main-light-color;

}

.global_wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.wrapper {
  margin: 0 100px;
  position: relative;
  z-index: 90;
}

.line {
  position: absolute;
  height: 100%;
  width: 1px;
  background: $line-color;

  &_left {
    margin-left: 99px;
    left: 0;
    &::after {
      content: '';
      display: block;
      height: 100%;
      width:1px;
      background-color: $line-color;
      position: absolute;
      top: 0;
      left: 235px;
    }
  }

  &_right {
    margin-right: 99px;
    right: 0;
    &::before {
      content: '';
      display: block;
      height: 100%;
      width: 1px;
      background-color: $line-color;
      position: absolute;
      top: 0;
      right: 235px;
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $high-font;
  font-weight: 400;
  font-size: 120px;
  color: $main-dark-color;
}
