@use "./reset.scss" as *;
@use "./variables.scss" as *;
@use "./fonts.scss" as *;

* {
  scrollbar-width: none; 
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none; 
  }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none; 
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: $main-text-color;
  background-color: $main-light-color;
}

.modal-active {
  overflow: hidden;
}

.global__wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.wrapper {
  margin: 0 $wrapper-padding-lg;
  position: relative;
  z-index: 90;
  @media (max-width: 1024px) {
    margin: 0 $wrapper-padding-md;
  }
  @media (max-width: 763px) {
    margin: 0 $wrapper-padding-sm;
  }
}

.line {
  position: absolute;
  height: 100%;
  width: 1px;
  background: $line-color;

  
  &-left {
    margin-left: $wrapper-padding-lg - 1;
    left: 0;
    @media (max-width: 1024px) {
      margin-left: $wrapper-padding-md - 1;
    }
    @media (max-width: 763px) {
      margin-left: $wrapper-padding-sm - 1;
    }
    &::after {
      content: '';
      display: block;
      height: 100%;
      width:1px;
      background-color: $line-color;
      position: absolute;
      top: 0;
      left: $lines-gap;
      @media (max-width: 763px) {
        left: $lines-gap-sm;
      }
      @media (max-width: 480px) {
        left: calc($lines-gap-sm / 1.5)
      }
    }
  }

  &-right {
    margin-right: $wrapper-padding-lg - 1;
    right: 0;
    @media (max-width: 1024px) {
      margin-right: $wrapper-padding-md - 1;
    }
    @media (max-width: 763px) {
      margin-right: $wrapper-padding-sm - 1;
    }
    &::before {
      content: '';
      display: block;
      height: 100%;
      width: 1px;
      background-color: $line-color;
      position: absolute;
      top: 0;
      right: $lines-gap;
      @media (max-width: 763px) {
        right: $lines-gap-sm;
      }
      @media (max-width: 480px) {
        right: calc($lines-gap-sm / 1.5);
      }
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $high-font;
  font-weight: 400;
  font-size: 120px;
  color: $main-dark-color;
}
