@use "/src/assets/styles/variables" as *;

.footer {
  background: $main-dark-color;
  color: $main-light-color;
  z-index: 9;
  position: relative;
  width: 100vw;
  &__top {
    display: flex;
    align-items: center;
    padding: 100px 100px;
    font-weight: 600;
    font-size: 18px;
    position: relative;
  }

  &__logo {
    color: $main-light-color;
    align-self: center;
    margin: auto;
    font-family: "Mouzambik", sans-serif;
    font-size: 150px;
    font-weight: 400;
    position: absolute;
    left: 50%; 
    transform: translateX(-50%); 
  }

  &__social {
    margin-left: auto;
    display: flex;
    gap: .625rem;
    &_icon {
      width: 35px;
      height: 35px;
      fill: white;
    }
  }
}
