@use "/src/assets/styles/variables" as *;

.footer {
  background: $main-dark-color;
  color: $main-light-color;
  z-index: 9;
  position: relative;
  width: 100vw;
  &__top {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 18px;
    position: relative;
    flex-direction: column;
    padding: 50px;
    @media (min-width: $tablet) {
      padding: 100px;
      flex-direction: row;
    }
  }

  &__logo {
    color: $main-light-color;
    font-family: "Mouzambik", sans-serif;
    font-weight: 400;
    left: 50%;     
    font-size: 100px;
    @media (min-width: $tablet) {
      position: absolute;
      transform: translateX(-50%); 
    }
    @media (min-width: $laptop) {
      font-size: 150px;
    }
  }

  &__social {
    display: flex;
    gap: .625rem;
    margin-left: 0;
    @media (min-width: $tablet) {
      margin-left: auto;
    }
    &_icon {
      width: 35px;
      height: 35px;
      fill: white;
    }
  }
}
