.profile {

  &__edit {
    cursor: pointer;   
    margin-left: 10px;
    font-size: 25px;
    display: inline-flex;
    gap: 10px;
    @media (min-width: $mobile) {
      font-size: 30px;
    } 

    &_btn {
      position: relative;
      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -5px;
        width: 100%;
        transform: scaleX(0);
        height: 0.0938rem;
        background-color: $main-dark-color;
        transition: all 0.3s ease-in;
      }
  
      &:hover::after {
        transform: scaleX(1);
      }
    }
  }

  &__info {
    display: grid;
    gap: 10px;
    @media (min-width: $mobile) {
      grid-template-columns: 1fr 1fr;
      gap: 10px 30px;
    }
    @media (min-width: $laptop) {
      gap: 20px 90px;
    }
    &_item {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }

    &_save {
      grid-column-start: 2;
    }
    &_title-inside {
      grid-column-start: 1 !important;
      @media (min-width: $mobile) {
        grid-column: 1/3;
      }
    }
  }
}
