.profile__info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px 90px;
    &_item {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }

    &_save {
      grid-column-start: 2;
    }
}