@use "/src/assets/styles/variables" as *;
.more {
  display: flex;
  padding: 8px;
  border: 1px solid $main-text-color;
  border-radius: 25px;
  width: fit-content;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
  @media (min-width: 800px) {
    padding: 12px;
  }
  &:hover {
    border: 1px solid $main-dark-color;
    transform: scale(105%);
    background: $main-dark-color;
    color: $main-light-color;
    .arrow {
      stroke: $main-light-color;
      transform: translateX(10%);
    }
  }
}

.arrow {
  transition: all 0.2s;
  stroke: $main-text-color;
}