@use "/src/assets/styles/variables" as *;
.btn {
  display: flex;
  padding: 12px;
  border: 1px solid $main-dark-color;
  border-radius: 25px;
  width: fit-content;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;

  &:hover {
    transform: scale(101%);
    .arrow {
      transform: translateX(10%);
    }
  }
}

.arrow {
  transition: all 0.2s;
}