@use "/src/assets/styles/variables.scss" as *;
@use "/src/assets/styles/fonts.scss" as *;

.product {
  &__data {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 35px;
  }
  &__title {
    align-self: flex-end;
    max-width: 80%;
    text-align: end;
    font-size: 140px;
  }
  &__specification {
    font-size: 14px;
    &_key {
      margin-right: 10px;
    }
    &_value {
      font-weight: 600;
    }
  }
  &__price {
    font-size: 100px;
    font-family: $numbers-font;
  }
  &__interactive {
    display: flex;
    gap: 10px;
  }

  &__liked {
    fill: none;
    width: 95px;
    &-true {
      svg {
        animation: 0.5s ease-in-out animateLike;
        stroke: $main-light-color;
        fill: $main-light-color;
      }
    }

    &-false {
      stroke: $main-dark-color;
      &:hover {
        stroke: $main-light-color;
      }
    }
  }
  &__delivery {
    display: block;
    margin-top: 10px;
  }
}

@keyframes animateLike {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}