@use "/src/assets/styles/variables.scss" as *;
@use "/src/assets/styles/fonts.scss" as *;

.product {
  &__data {
    display: flex;
    flex-direction: column;
    gap: 20px;
    @media (min-width: $tablet) {
      gap: 25px;
      width: 50%;
    }
    @media (min-width: $laptop) {
      gap: 35px;
    }
  }
  &__title {
    @media (min-width: $tablet) {
      text-align: end;
    }
  }
  &__specification {
    font-size: 14px;
    &_key {
      margin-right: 10px;
    }
    &_value {
      font-weight: 600;
    }
  }
  &__price {
    font-family: $numbers-font;
    font-size: 60px;
    @media (min-width: $tablet) {
      font-size: 80px;
    }
    @media (min-width: $laptop) {
      font-size: 100px;
    }
  }
  &__interactive {
    display: flex;
    gap: 10px;
  }

  &__liked {
    fill: none;
    &-true {
      svg {
        animation: 0.5s ease-in-out animateLike;
        stroke: $main-light-color;
        fill: $main-light-color;
      }
    }

    &-false {
      stroke: $main-dark-color;
      &:hover {
        stroke: $main-light-color;
      }
    }
  }
  &__delivery {
    display: block;
    margin-top: 10px;
  }
}

@keyframes animateLike {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}